html {
  scroll-behavior: smooth; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background: #000000; }

a {
  color: #1e7ce6; }

.hide {
  display: none; }

.full-viewport {
  height: 100vh; }

.navbar-toggler {
  outline: none;
  background: #1555bc;
  width: auto;
  height: auto;
  padding: .75rem 1.25rem;
  margin-top: .5rem; }
  .navbar-toggler:focus {
    outline: none; }
  .navbar-toggler:not(.collapsed) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
  .navbar-toggler .navbar-toggler-icon {
    width: auto;
    height: auto; }

nav.navbar {
  background: #000000;
  font-weight: 300;
  /*top link*/ }
  nav.navbar #navbarNav {
    background: #1555bc; }
  nav.navbar .navbar-nav {
    margin: .75rem; }
  nav.navbar .nav-item {
    margin: 0 .75rem;
    border-bottom: 2px solid transparent; }
    nav.navbar .nav-item:hover {
      border-bottom: 2px solid #000000; }
  nav.navbar .nav-link {
    color: #ffffff;
    padding: .75rem 0rem; }

header {
  height: 80vh; }

#introRow {
  height: 100%;
  align-items: center; }
  #introRow #introTitle {
    color: #1555bc;
    margin-bottom: 1.25rem;
    font-weight: 300;
    font-size: 3rem; }

.subheader {
  font-size: 1rem;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  margin-bottom: 0; }

.section {
  transition: all 50s ease;
  padding: 30px; }
  .section:nth-child(1), .section:nth-child(4) {
    background: #ffffff; }
  .section:nth-child(3) h2 {
    color: #ffffff; }
  .section:nth-child(2), .section:nth-child(5) {
    color: #ffffff;
    background: #1555bc; }
  .section .section-header {
    margin-bottom: .75rem;
    font-weight: 400;
    font-size: 1.3rem; }
  .section #biopic {
    display: block;
    border-radius: 50%;
    margin: 1rem auto; }
  .section .about {
    font-size: 1.25rem;
    line-height: 2.5rem; }
  .section #jobRow {
    /*in section*/
    /*in section */ }
    .section #jobRow .jobCol:first-of-type .position:first-of-type .company {
      margin-top: .5rem; }
    .section #jobRow .company {
      font-weight: 500; }
    .section #jobRow .jobtitle {
      font-weight: 300;
      margin-bottom: .25rem; }
      .section #jobRow .jobtitle:last-of-type {
        margin-bottom: 1.25rem; }
  .section .intro {
    font-size: 1.125rem;
    line-height: 2.5rem; }
  .section .portLinks {
    margin-top: 1rem;
    font-weight: 300;
    border-bottom: 2px solid transparent; }
    .section .portLinks .portUrl {
      text-decoration: none; }
      .section .portLinks .portUrl:hover {
        padding-bottom: 1rem;
        border-bottom: 2px solid #1e7ce6;
        color: #ffffff; }
  .section .philCol {
    align-items: stretch; }
    .section .philCol:last-of-type .white-card {
      margin-bottom: 0; }
    .section .philCol .white-card {
      border: 1px solid #1555bc;
      margin-bottom: 2rem;
      height: 100%; }
      .section .philCol .white-card .card-text {
        flex: 1 0 auto; }
  .section .philLogo {
    margin: 1.5rem auto .5rem auto; }
  .section #umdc-logo {
    width: 110px; }
  .section #mercy-logo {
    width: 150px; }
  .section .vol-title {
    font-weight: 500;
    margin-bottom: 1rem; }
  .section #linkedInBtn {
    margin: 1.25rem 0;
    padding: .75rem; }
  .section #linkedin {
    max-width: 90px; }
  .section .contact {
    font-size: 1.25rem; }

@media (min-width: 576px) {
  nav.navbar {
    height: 10vh; }

  #navbarNav {
    justify-content: space-around; }

  header {
    height: 90vh; }

  #introRow #introTitle {
    font-size: 4rem;
    margin-bottom: 2rem; }
  #introRow .subheader {
    font-size: 1.25rem; }

  .section {
    /*in section */ }
    .section .position .jobtitle:last-of-type {
      margin-bottom: 1.5rem; }
    .section .about {
      font-size: 1.5rem;
      line-height: 3rem; } }
@media (min-width: 768px) {
  nav.navbar .nav-item {
    margin: 0 2rem;
    border-bottom: 2px solid transparent; }
    nav.navbar .nav-item:hover {
      border-bottom: 2px solid #1e7ce6; }

  #introRow #introTitle {
    font-size: 5rem;
    margin-bottom: 2rem; }
  #introRow .subheader {
    font-size: 1.5rem; }

  .section {
    /*in section */ }
    .section .section-header {
      margin-bottom: 1rem;
      font-weight: 400; }
    .section .position .jobtitle:last-of-type {
      margin-bottom: 1.5rem; }
    .section .intro {
      font-size: 1.3rem; }
    .section .white-card {
      margin-bottom: 0; }
    .section .contact {
      font-size: 1.75rem; }
    .section #linkedInBtn {
      margin: 0; }
    .section .vol-title {
      font-weight: 600; } }
@media (min-width: 992px) {
  nav.navbar #navbarNav {
    background: none; }

  .section #biopic {
    margin: 0; } }

/*# sourceMappingURL=style.css.map */
