html {
  scroll-behavior: smooth; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background: #000000; }

a {
  color: #1e7ce6; }

.hide {
  display: none; }

.full-viewport {
  height: 100vh; }

.navbar-toggler {
  outline: none;
  background: #1555bc;
  width: auto;
  height: auto;
  padding: .75rem 1.25rem; }
  .navbar-toggler:focus {
    outline: none; }
  .navbar-toggler:not(.collapsed) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
  .navbar-toggler .navbar-toggler-icon {
    width: auto;
    height: auto; }

nav.navbar {
  background: #000000;
  font-weight: 300;
  /*top link*/ }
  nav.navbar #navbarNav {
    background: #1555bc; }
  nav.navbar .navbar-nav {
    margin: .75rem; }
  nav.navbar .nav-item {
    margin: 0 .75rem;
    border-bottom: 2px solid transparent; }
    nav.navbar .nav-item:hover {
      border-bottom: 2px solid #000000; }
  nav.navbar .nav-link {
    color: #ffffff;
    padding: .75rem 0rem; }

header {
  height: 80vh; }

#introRow {
  height: 100%;
  align-items: center; }
  #introRow #introTitle {
    color: #1555bc;
    margin-bottom: 1.25rem;
    font-weight: 300;
    font-size: 3rem; }

.subheader {
  font-size: 1rem;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  margin-bottom: 0; }

.section {
  transition: all 50s ease;
  padding: 30px;
  /*in section */
  /*in section*/
  /*in section */ }
  .section:nth-child(1), .section:nth-child(4) {
    background: #ffffff; }
  .section:nth-child(3) h2 {
    color: #ffffff; }
  .section:nth-child(2), .section:nth-child(5) {
    color: #ffffff;
    background: #1555bc; }
  .section .section-header {
    margin-bottom: 1rem;
    font-weight: 400; }
  .section #biopic {
    border-radius: 50%;
    margin: 1rem 0; }
  .section .about {
    font-size: 1.75rem;
    line-height: 3rem; }
  .section .position .jobtitle:last-of-type {
    margin-bottom: 1.25rem; }
  .section .company {
    font-weight: 500; }
  .section .jobtitle {
    font-weight: 300;
    margin-bottom: .25rem; }
  .section .intro {
    font-size: 1.3rem; }
  .section .portLinks {
    padding-bottom: 1rem;
    font-weight: 300; }
    .section .portLinks:hover {
      border-bottom: 2px solid #1e7ce6;
      color: #ffffff;
      text-decoration: none; }
  .section .white-card {
    border: 1px solid #1555bc; }
  .section #umdc-logo {
    width: 110px;
    margin: 1.25rem 0 0 1.25rem; }
  .section #mercy-logo {
    width: 150px;
    margin: 1.25rem 0 0 1.25rem; }
  .section .vol-title {
    font-weight: 600;
    margin-bottom: 1rem; }
  .section #linkedin {
    max-width: 90px; }

@media (min-width: 576px) {
  nav.navbar {
    height: 10vh; }

  #navbarNav {
    justify-content: space-around; }

  header {
    height: 90vh; } }
@media (min-width: 768px) {
  .nav-item {
    margin: 0 2rem;
    border-bottom: 2px solid transparent; }
    .nav-item:hover {
      border-bottom: 2px solid #1e7ce6; }

  #introTitle {
    font-size: 5rem;
    margin-bottom: 2rem; }

  .subheader {
    font-size: 1.5rem; } }

/*# sourceMappingURL=style.css.map */
