html {
  scroll-behavior: smooth; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background: #000000; }

a {
  color: #1e7ce6; }

.hide {
  display: none; }

.full-viewport {
  height: 100vh; }

nav.navbar {
  height: 10vh;
  background: #000000;
  font-weight: 300;
  /*top link*/ }
  nav.navbar .nav-item {
    margin: 0 2rem;
    border-bottom: 2px solid transparent; }
    nav.navbar .nav-item:hover {
      border-bottom: 2px solid #1e7ce6; }
  nav.navbar .nav-link {
    color: #ffffff;
    padding: .75rem 1.5rem; }

header {
  height: 90vh; }

#introRow {
  height: 100%;
  align-items: center; }
  #introRow #introTitle {
    color: #1555bc;
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 5rem; }

.subheader {
  font-size: 1.5rem;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  margin-bottom: 0; }

.section {
  transition: all 50s ease;
  padding: 30px;
  /*in section */
  /*in section*/
  /*in section */ }
  .section:nth-child(1), .section:nth-child(4) {
    background: #ffffff; }
  .section:nth-child(3) h2 {
    color: #ffffff; }
  .section:nth-child(2), .section:nth-child(5) {
    color: #ffffff;
    background: #1555bc; }
  .section .section-header {
    margin-bottom: 1rem;
    font-weight: 400; }
  .section #biopic {
    border-radius: 50%;
    margin: 1rem 0; }
  .section .about {
    font-size: 1.75rem;
    line-height: 3rem; }
  .section .position .jobtitle:last-of-type {
    margin-bottom: 1.25rem; }
  .section .company {
    font-weight: 500; }
  .section .jobtitle {
    font-weight: 300;
    margin-bottom: .25rem; }
  .section .intro {
    font-size: 1.3rem; }
  .section .portLinks {
    padding-bottom: 1rem;
    font-weight: 300; }
    .section .portLinks:hover {
      border-bottom: 2px solid #1e7ce6;
      color: #ffffff;
      text-decoration: none; }
  .section .white-card {
    border: 1px solid #1555bc; }
  .section #umdc-logo {
    width: 110px;
    margin: 1.25rem 0 0 1.25rem; }
  .section #mercy-logo {
    width: 150px;
    margin: 1.25rem 0 0 1.25rem; }
  .section .vol-title {
    font-weight: 600;
    margin-bottom: 1rem; }
  .section #linkedin {
    max-width: 90px; }

@media (min-width: 576px) {
  #navbarNav {
    justify-content: space-around; } }
@media (min-width: 768px) {
  #introTitle {
    font-size: 5rem; } }
html {
  scroll-behavior: smooth; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background: #000000; }

a {
  color: #1e7ce6; }

.hide {
  display: none; }

.full-viewport {
  height: 100vh; }

nav.navbar {
  height: 10vh;
  background: #000000;
  font-weight: 300;
  /*top link*/ }
  nav.navbar .nav-item {
    margin: 0 2rem;
    border-bottom: 2px solid transparent; }
    nav.navbar .nav-item:hover {
      border-bottom: 2px solid #1e7ce6; }
  nav.navbar .nav-link {
    color: #ffffff;
    padding: .75rem 1.5rem; }

header {
  height: 90vh; }

#introRow {
  height: 100%;
  align-items: center; }
  #introRow #introTitle {
    color: #1555bc;
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 5rem; }

.subheader {
  font-size: 1.5rem;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  margin-bottom: 0; }

.section {
  transition: all 50s ease;
  padding: 30px;
  /*in section */
  /*in section*/
  /*in section */ }
  .section:nth-child(1), .section:nth-child(4) {
    background: #ffffff; }
  .section:nth-child(3) h2 {
    color: #ffffff; }
  .section:nth-child(2), .section:nth-child(5) {
    color: #ffffff;
    background: #1555bc; }
  .section .section-header {
    margin-bottom: 1rem;
    font-weight: 400; }
  .section #biopic {
    border-radius: 50%;
    margin: 1rem 0; }
  .section .about {
    font-size: 1.75rem;
    line-height: 3rem; }
  .section .position .jobtitle:last-of-type {
    margin-bottom: 1.25rem; }
  .section .company {
    font-weight: 500; }
  .section .jobtitle {
    font-weight: 300;
    margin-bottom: .25rem; }
  .section .intro {
    font-size: 1.3rem; }
  .section .portLinks {
    padding-bottom: 1rem;
    font-weight: 300; }
    .section .portLinks:hover {
      border-bottom: 2px solid #1e7ce6;
      color: #ffffff;
      text-decoration: none; }
  .section .white-card {
    border: 1px solid #1555bc; }
  .section #umdc-logo {
    width: 110px;
    margin: 1.25rem 0 0 1.25rem; }
  .section #mercy-logo {
    width: 150px;
    margin: 1.25rem 0 0 1.25rem; }
  .section .vol-title {
    font-weight: 600;
    margin-bottom: 1rem; }
  .section #linkedin {
    max-width: 90px; }

@media (min-width: 576px) {
  #navbarNav {
    justify-content: space-around; } }
@media (min-width: 768px) {
  #introTitle {
    font-size: 5rem; } }
body {
  background: #ffffff; }

h6 {
  font-size: 1.125rem; }

nav {
  background: #000000; }

header {
  padding-top: 0;
  background: #000000;
  /*Card*/ }
  header #introRow > div:first-of-type {
    margin-left: 2rem; }
  header #introRow > div:last-of-type {
    margin-right: 2rem; }
  header #introRow #introTitle {
    color: #ffffff;
    margin-top: 1.5rem;
    font-size: 3rem;
    font-weight: 400; }
  header .sampleHeader {
    font-weight: 300;
    color: #ffffff; }
  header .moveDownIcon {
    color: #ffffff;
    margin-top: 3rem;
    margin-left: -2rem; }
  header .sampleOverview {
    color: #ffffff;
    background: #1555bc;
    padding: 1.25rem 1.5rem;
    border-radius: .5rem; }
    header .sampleOverview .overview {
      font-size: 1.5rem;
      line-height: 3rem; }
      header .sampleOverview .overview:last-of-type {
        margin-bottom: 0; }
  header #projectRow {
    color: #ffffff;
    align-items: center;
    height: 90vh; }
    header #projectRow > div:first-of-type {
      margin-left: 2rem; }
    header #projectRow > div:last-of-type {
      margin-right: 2rem; }
    header #projectRow #projectTitle {
      font-weight: 300;
      font-size: 3rem;
      line-height: 4.5rem; }
  header .sampleOverview {
    padding: 2rem; }
    header .sampleOverview .sampleHeader {
      font-weight: 400; }
    header .sampleOverview .projectsOverview {
      font-size: 1.4rem; }
    header .sampleOverview ul {
      padding-left: 0; }
    header .sampleOverview .projectItem {
      text-align: center;
      padding: 0;
      margin-bottom: 1.5rem;
      list-style-type: none; }
      header .sampleOverview .projectItem:first-of-type {
        margin-top: 1.75rem; }
      header .sampleOverview .projectItem:last-of-type {
        margin-bottom: 0; }
      header .sampleOverview .projectItem .projectLink {
        font-size: 1.25rem;
        padding-bottom: .75rem; }
        header .sampleOverview .projectItem .projectLink:hover {
          text-decoration: none;
          border-bottom: 2px solid #000000; }

@media (min-width: 992px) {
  header #projectRow .sampleOverview .projectItem:first-of-type, header #projectRow .sampleOverview .projectItem:last-of-type {
    margin-top: 1.25rem;
    margin-bottom: 0;
    list-style-type: none; } }
#metalsmithContainer {
  height: 90vh;
  display: flex;
  align-items: center; }
  #metalsmithContainer #metalsmithCarousel {
    color: #ffffff;
    font-size: 1.6rem;
    line-height: 2.5rem; }
    #metalsmithContainer #metalsmithCarousel #metalsmithRow > div:first-of-type {
      margin-left: 2rem; }
    #metalsmithContainer #metalsmithCarousel #metalsmithRow > div:last-of-type {
      margin-right: 2rem; }
    #metalsmithContainer #metalsmithCarousel #metalsmithRow .metalOverview {
      margin-top: 1rem; }
    #metalsmithContainer #metalsmithCarousel #metalsmithRow #jewelryOverview {
      height: 80vh; }
      #metalsmithContainer #metalsmithCarousel #metalsmithRow #jewelryOverview ul {
        margin-bottom: 0; }
      #metalsmithContainer #metalsmithCarousel #metalsmithRow #jewelryOverview .projectItem {
        text-align: left; }
        #metalsmithContainer #metalsmithCarousel #metalsmithRow #jewelryOverview .projectItem:first-of-type {
          margin-top: 0; }
        #metalsmithContainer #metalsmithCarousel #metalsmithRow #jewelryOverview .projectItem:last-of-type {
          margin-bottom: 0; }
      #metalsmithContainer #metalsmithCarousel #metalsmithRow #jewelryOverview img {
        height: 100%; }

/*# sourceMappingURL=style.css.map */
