@import "customvariables";
@import "style";
@import "subpages";

#metalsmithContainer{
	background: $black;
	padding-top: 1rem;
	padding-bottom: 3rem;
	height: 90vh;

	#metalsmithCarousel{
		color: $white;
		font-size: 1.6rem;
		line-height: 2.5rem;

		#metalsmithRow{
 			
			.metalOverview{
				//margin-top: 1rem;
			}

			#jewelryOverview{
				color: $white;
		        background: $accent-color;
		        padding: 1.25rem 1.5rem;
		        border-radius: .5rem;

				margin: 1rem 0 0 0;

				ul{
					list-style-type: none;
					margin-bottom: 0;
					padding-left: 0;
				}

				.projectItem{
					margin-bottom: 1rem;
					text-align: left;
					border-bottom: $link-border;

					&:first-of-type{
						margin-top: 0;
					}

					&:last-of-type{
						margin-bottom: 0;
					}

					a:hover{
						padding-bottom: .5rem;
						border-bottom: 2px solid $black;
						text-decoration: none;
					}
				}

				#jewelryCarousel{
				}

				img{
					height: 100%;
				}	

			}
		}
	}
}

@media(min-width: 768px){
	#metalsmithContainer{
		padding-top: 2rem;

		#metalsmithCarousel{
			#metalsmithRow{

				> div:first-of-type{
					margin-left: 2rem;
				}

				> div:last-of-type{
					margin-right: 2rem;
				}

				.metalOverview{
					margin-top: 1rem;
				}
				
				#jewelryOverview{

					margin: 0 -15px 0 -15px;
				}
			}
		}
	}
}


