@import "customvariables";
@import "style";
@import "subpages";


#metalsmithContainer{
	// height: 90vh;
	display: flex;
	align-items: center;

	#metalsmithCarousel{
		color: $white;
		font-size: 1.6rem;
		line-height: 2.5rem;

		#metalsmithRow{

			> div:first-of-type{
				margin-left: 2rem;
			}
			
			> div:last-of-type{
				margin-right: 2rem;
			}

			.metalOverview{
				margin-top: 1rem;
			}

			#jewelryOverview{
				// height: 80vh;

				ul{
					margin-bottom: 0;
				}

				.projectItem{
					text-align: left;

					&:first-of-type{
						margin-top: 0;
					}

					&:last-of-type{
						margin-bottom: 0;
					}
				}

				img{
					height: 100%;
				}				
			}
		}
	}
}


